@import "../../../sass/mixins.scss","../../../sass/variables.scss";

.navbar {
    @include flex(column, nowrap, center, space-evenly);
    padding: 1rem 0.5rem;
    height: fit-content;
  
    &__ul {
      @include flex(row, nowrap, space-evenly, center);
      gap: 1rem;
    }
    &__btn {
      color: var(--yellow);
      &:hover {
        color: var(--negro);
      }
      &.active {
        text-decoration: underline;
        color: var(--negro);
        text-decoration-color: var(--negro);
        text-underline-offset: 0.25rem;
      }
    }
  }