@import "../../../sass/mixins.scss","../../../sass/variables.scss";

.alarm {
    padding: 0.5rem 0;
    @include flex(column, nowrap, center, center);
      gap: 1rem;
    @include tablet() {
      @include flex(row, nowrap, center, space-evenly);
    }
    &__btn {
     @include btn();
    }
    &__watch {
      @include flex(row, nowrap, space-between, center);
    }
    &__input {
      text-align: center;
      width: 3rem;
      margin: 0 0.5rem;
      border: solid 0.5px var(--greyHover);
    }
    &__h2 {
      text-align: center;
    }
  }