@import "../sass/mixins.scss","../sass/variables.scss";

.container {
  @include flex(column, nowrap, flex-start, center);
  padding: 0.5rem;
  margin: 0 auto;
  min-width: 21rem;
  max-width: 25rem;
  width: 100dvw;
  @include laptop() {
    max-width: 40rem;
  }
  @include pDesktop();

  &.hide {
    justify-content: center;
    min-height: 100dvh;
  }
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr 2fr;
  padding: 0.5rem;

  @include tablet {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 1.4fr;
  }

  &.hide {
    display: block;
  }
}

.deactivateFullScreenBtn {
  display: none;

  &.hide {
    display: block;
    position: absolute;
    min-width: 21rem;

    width: 60%;
    height: 40%;
    &:hover {
      background-color: var(--grey);
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/></svg>');
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 19%;
      background-size: 1.5em;
    }
  }
}

.logo {
  @include flex(column, nowrap, center, center);
  margin-bottom: 2rem;
  margin-top: 1rem;
  &.hide {
    display: none;
  }
  &__img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-bottom: 0.25rem;
  }

  &__h1 {
    @include h2();
    font-size: 1.25rem;
  }
  &__span {
    font-style: italic;
  }
}
.controls{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    @include tablet{ 
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      };
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 0 1rem;
    @include tablet{ 
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      };
    @include flex(row, nowrap, space-between, flex-end);
}

.watch {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    @include tablet{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
}

.navbar {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    @include tablet{
        grid-row: 3 / 4;
      }
}

.aside {
  padding: 0.5rem;
  &.hide {
    display: none;
  }
}
