<div class="container divToHide">
  <a href="#" class="logo divToHide">
    <img src="../assets/logo/logoMrKai.png" alt="time track logo" class="logo__img">
    <h1 class="logo__h1">TIME<span class="logo__span">TRACK</span></h1>
  </a>
  <button title="Deactivated Full Screen Mode" class="deactivateFullScreenBtn divToHide" id="deactivateFullScreenBtn">
  </button>
  <main class="content divToHide">
    <section class="controls divToHide">
      <app-controls-sw></app-controls-sw>
    </section>
    <section class="header divToHide">
      <app-alarm-watch></app-alarm-watch>
      <app-project-input></app-project-input>
    </section>
    <section class="watch">
      <app-stop-watch></app-stop-watch>
    </section>
    <nav class="navbar divToHide">
      <app-navbar></app-navbar>
    </nav>
  </main>
  <aside class="aside divToHide">
    <router-outlet></router-outlet>
  </aside>
    <app-alert></app-alert>
    <app-confirm-window></app-confirm-window>
</div>