<div class="history">
    <div class="history__div filters">
      <label for="projectsName">by Project: </label>
      <select name="projectsName" id="projectsName" class="history__select">
      </select>
      <label for="projectsDate">by Date: </label>
      <select name="projectsDate" id="projectsDate" class="history__select">
      </select>
    </div>  
    <button title="Filter History" class="history__btn" id="filter">FILTER</button>
  <div class="history__div--results">
    <div  id="showProjects"></div>
    <div  id="calcTotalTime"></div>
    <button title="Delete All Projects" class="history__btnDel" id="clear"></button>
  </div>
  </div>