<div class="history">
    <div class="history__div filters">
      <label for="projectsName">by Project: </label>
      <select name="projectsName" [(ngModel)]="selectedProjectName" class="history__select" [innerHTML]="projectsByNameSelectOptions">
      </select>
      <label for="projectsDate">by Date: </label>
      <select name="projectsDate" [(ngModel)]="selectedProjectDate" class="history__select" [innerHTML]="projectsByDateSelectOptions">
      </select>
    </div>  
    <button title="Filter History" class="history__btn" (click)="filter()">FILTER</button>
  <!-- <div class="history__div--results">
    <div [innerHTML]="showProjects"></div>
    <div [innerHTML]="calcTotalTime"></div>
    <button title="Delete All Projects" class="history__btnDel" (click)="clear()">{{deleteAll}}</button>

  </div> -->
  <div class="history__div--results">
  <ng-container *ngIf="showProjects; else noResults">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Project Name</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of filteredProjects"> 
            <td class="history__td">{{ item.date | dateFormat }}</td>
            <td class="history__td">{{ item.totalTime | timeFormat }}</td>
            <td class="history__td">{{ item.name }}</td>
            <td class="history__td">
              <button title="More Info" (click)="moreInfo(item.date , item.totalTime)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="history__svg--info" viewBox="0 0 16 16"><path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg>
              </button>
            </td>
            <td class="history__td">
              <button title="Delete Project" (click)="deleteProject(item.date , item.name)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="history__svg" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/></svg>
              </button>
            </td>
          </tr>
      </tbody>
    </table>
    <div>
      <span class="history__span"> Total Time: {{calcTotalTime}}</span>
    </div>
    <button title="Delete All Projects" class="history__btnDel" (click)="clear()">{{ deleteAll }}</button>
  </ng-container>
  <ng-template #noResults>
    <p>{{noResultsTxt}}</p>
  </ng-template>
</div>
</div>
