<section class="statistics">
    <div>
      <div class="statistics__div" id="today">
        <div class="statistics__span">TODAY<br>{{totalTimeToday}}</div>
      </div>
      <div class="statistics__div" id="thisWeek">
        <div class="statistics__span">THIS WEEK<br>{{totalTimeThisWeek}}</div>
      </div>
    </div>
    <div>
      <div class="statistics__div" id="lastWeek">
        <div class="statistics__span">TODAY<br>{{totalTimeLastWeek}}</div>
      </div>
      
      <div class="statistics__div" id="thisMonth">
        <div class="statistics__span">TODAY<br>{{totalTimeThisMonth}}</div>
      </div> 
    </div>
</section>